{% spaceless %}
<!doctype html>
<html data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }}" data-tray-theme="Clothing">  

<head>
    <!-- tray meta and styles -->
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {{ tray.meta }} {{ tray.styles }}

    <!-- theme css-->
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/photoswipe-core.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/photoswipe-default-skin.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/custom.css', {dynamic: true}) }}" type="text/css">

    <!-- tray scripts -->
    {{ tray.analytics }}
    {{ googleTagManager.header(pages.current, tagManagerData) }}
</head>

<body class="{{ pages.current }}" style="background-color: {{ settings.color_bg_body }}">
    {{ googleTagManager.top(pages.current, tagManagerData) }}

    {% element 'snippets/messages' %}

    {% element 'menu-mobile' %}

    <div class="application">

        {% element 'header' %}

        <div class="nav-full">
            {% element 'horizontal-nav' %}
        </div>
        
        {% element 'snippets/banner-home' %}


        <main class="site-main container">
            {% if pages.current != 'home' or pages.current != 'product' %}
                {% if showLeft %}
                    {% element 'sidebar_left' %}
                {% endif %}
            {% endif %}

            {% if "central" in pages.current %}
                {% element 'sidebar-central' %}
            {% endif %}

            <section class="page-content {{ 'central' in pages.current ? 'col-sm-9' : '' }}">
              {{ content_for_layout }} 

                {% if pages.current in ['catalog', 'search'] %}
                    {% if settings.history_position == 1 %}
                        <div id="prognoos_ib"></div>
                        <section class="products-visited">
                            <h3 class="related-title">{{ Translation('produtos_visitados') }}</h3>
                            {% element 'snippets/history' %}
                        </section>
                    {% endif %}
                {% endif %}
            </section>
        </main>

        {% element 'footer' %}

        {% if checkout == "false" %}
            {% if settings.hottags_position == 2 %}
            <div class="container">
                <div class="tagcloud">
                    <h4>As palavras</h4>
                    <h3>{{ Translation('tags_mais_buscadas') }}</h3>
                    {% for tag in tags %}
                      <a href="{{ tag.url }}" style="font-size: {{ tag.font_size }}%">{{ tag.word }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endif %}

        {% if pages.current in ['catalog', 'search', 'product'] %}
            {% if settings.history_position == 2 %}
                <div id="prognoos_ib"></div>
                <section class="products-visited col-sm-12">
                    <h3 class="related-title">{{ Translation('produtos_visitados') }}</h3>
                    {% element 'snippets/history' %}
                </section>
            {% endif %}
        {% endif %}
    </div>

    {% element 'snippets/credits' %}
    <!-- tray -->
    
        {% element 'snippets/modal' %}
        {{ googleTagManager.bottom(pages.current, tagManagerData) }}
        {{ tray.scripts }}
        {{
                html.script({
                    '0' : tray.paths.js ~ 'dist/application.min.js?' ~ utils.assets_version,
                    '1' : tray.paths.js ~ 'init.js?' ~ utils.assets_version
                })
        }}
        {% element 'snippets/pageview' %}
        {{ store.chat }}

    <!-- theme scripts-->
    <script>
    /* var btn = document.getElementById('shippingSimulatorButton');btn.addEventListener('click', function() {
        var modal= document.getElementById('modal');modal.className = "modal fade";modal.style.visibility = "hidden";}); */
        </script>
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/photoswipe-core.js') }}"></script>
    <script src="{{ asset('js/photoswipe-ui.js') }}"></script>
    <script src="{{ asset('js/photoswipe-init.js') }}"></script>
    <script src="{{ asset('js/theme.min.js') }}"></script>
    <script> 
        $(function() {
             var sd_site_name = "LudiK",
            sd_cor_bt = "#f36f22",
            sd_cookies = document.cookie;
        if (sd_cookies.indexOf(sd_site_name) < 0) {
            var sd_alerta_cookie = document.querySelector("body"),
                aviso = '<div id="alert_cookie" style="position: fixed; z-index: 9999999999; box-shadow: 0 1px 2px 0 rgba(0,0,0,.12); font-size: 16px; font-weight: 400; font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif; bottom: 0; background: rgba(0,0,0,0.8); color: #FFF; width: 100%; padding: 25px; margin: 0; text-align: center">Ao navegar neste site, você aceita os cookies que usamos para melhorar sua experiência <a class="cookie-link" href="https://www.ludikmoda.com.br/privacidade">clique aqui</a>.<a style="font-weight: 600; background: ' + sd_cor_bt + '; color: #fff; text-decoration: none; padding: 7px 12px; font-size: 16px; margin: 10px 10px 10px 30px; border-radius: 2px; cursor: pointer;" id="sd_set_cookie">Entendi</a></div>',
                child = document.createElement("div");
            child.innerHTML = aviso, child = child.firstChild, sd_alerta_cookie.appendChild(child);
            var sd_set_cookie_bt = document.querySelector("#sd_set_cookie");
            sd_set_cookie_bt.addEventListener("click", function() {
                console.log('teste');
                var e = new Date,
                    o = e.getTime();
                o += 5184e6, e.setTime(o);
                var i = "expires=" + e.toGMTString();
                document.cookie = sd_site_name + "=" + sd_site_name + "; " + i;
                var t = document.querySelector("#alert_cookie");
                t.parentNode.removeChild(t)
            })
        }
        });

        jQuery('.product-images-thumbs img').hover(function(e){
            jQuery('.product-images-full .images-container img').attr("src",jQuery(this)[0].currentSrc);
        });      
        jQuery('.product-images-thumbs').slick({
        vertical: true,
        slidesToShow: 5,
        autoplay:false,
        arrows: true,
        prevArrow:"<button type='button' class='slick-prev pull-left'>></button>",
        nextArrow:"<button type='button' class='slick-next pull-right'><</button>"
        });
        </script>
</body>
</html>
{% endspaceless %}