{% if not utils.is_mobile and banner.extra1 %}
    <div class="banner banner-ruler">
        {{ banner.extra1 }}
    </div>
    
{% elseif utils.is_mobile and banner.extra8 %}
    <div class="banner banner-ruler">
        {{ banner.extra8 }}
    </div>
{% endif %}

{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 8 %}
{% endif %}

{% set showAvailable = settings.show_available_products ? 'available' %}

{% if settings.showcase_1 == "featured" %}
    {% set showcaseText = "Destaques" %}
{% elseif settings.showcase_1 == "new" %}
    {% set showcaseText = "Lan&ccedil;amentos" %}
{% elseif settings.showcase_1 == "free_shipping" %}
    {% set showcaseText = "Frete Gr&aacute;tis" %}
{% elseif settings.showcase_1 == "promotion" %}
    {% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase_1 == "top_seller" %}
    {% set showcaseText = "Mais Vendidos" %}
{% endif %}

{% if showAvailable %}
    {% if settings.showcase_1 == "top_seller" %}
    <div id="prognoos_popv1"></div>	
    
        {% set products = Products({
            'filter': showAvailable,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}    
    
    {% else %}
        {% set products = Products({
            'filter': [showAvailable, settings.showcase_1],
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
    
{% else %}
    {% if settings.showcase_1 == "top_seller" %}
    <div id="prognoos_popv1"></div>
    
        {% set products = Products({
            'filter': available,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}      
    {% else %}
        {% set products = Products({
            'filter': settings.showcase_1,
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
{% endif %}

{% element 'showcase' { 
    "products": products,
    "showcaseTitle": showcaseText
} %}

{% if pages.current == 'home' %}
    <div class="banners banner-widget-home">
        <div class="container">
            <div class="row">
                {% if not utils.is_mobile and banner.extra2 %}
                    <div class="col-xs-12 col-sm-4 mini-banner3">
                        {{ banner.extra2 }}
                    </div>
                    
                {% elseif utils.is_mobile and banner.extra9 %}
                    <div class="col-xs-12 col-sm-4 mini-banner3">
                        {{ banner.extra9 }}
                    </div>
                {% endif %}
                
                {% if not utils.is_mobile and banner.extra3 %}
                    <div class="col-xs-12 col-sm-4 mini-banner3">
                        {{ banner.extra3 }}
                    </div>
                    
                {% elseif utils.is_mobile and banner.extra10 %}
                    <div class="col-xs-12 col-sm-4 mini-banner3">
                        {{ banner.extra10 }}
                    </div>
                {% endif %}  
                
                {% if not utils.is_mobile and banner.extra4 %}
                    <div class="col-xs-12 col-sm-4 mini-banner3">
                        {{ banner.extra4 }}
                    </div>
                    
                {% elseif utils.is_mobile and banner.extra11 %}
                    <div class="col-xs-12 col-sm-4 mini-banner3">
                        {{ banner.extra11 }}
                    </div>
                {% endif %}                
            </div>
        </div>
    </div> 
{% endif %}


{% if settings.showcase_2 == "featured" %}
    {% set showcaseText = "Destaques" %}
{% elseif settings.showcase_2 == "new" %}
    {% set showcaseText = "Lan&ccedil;amentos" %}
{% elseif settings.showcase_2 == "free_shipping" %}
    {% set showcaseText = "Frete Gr&aacute;tis" %}
{% elseif settings.showcase_2 == "promotion" %}
    {% set showcaseText = "Promo&ccedil;&otilde;es" %}
{% elseif settings.showcase_2 == "top_seller" %}
    {% set showcaseText = "Mais Vendidos" %}
{% endif %}

{% if showAvailable %}
    {% if settings.showcase_2 == "top_seller" %}
    <div id="prognoos_popv1"></div>	
    
        {% set products = Products({
            'filter': showAvailable,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}    
    
    {% else %}
        {% set products = Products({
            'filter': [showAvailable, settings.showcase_2],
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
    
{% else %}
    {% if settings.showcase_2 == "top_seller" %}
    <div id="prognoos_popv1"></div>
    
        {% set products = Products({
            'filter': available,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}      
    {% else %}
        {% set products = Products({
            'filter': settings.showcase_2,
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
{% endif %}

{% element 'showcase' { 
    "products": products,
    "showcaseTitle": showcaseText
} %}

{% if pages.current == 'home' %}
	{{ banner.popup ~ banner.floating }}
{% endif %}

{% if banner.bottom %}
    <div class="banner banner-bottom">
        {{ banner.bottom }}
    </div>
{% endif %}